html {
  scroll-behavior: smooth;
}
.navbar-background {
  background-color: transparent;
  position: absolute;
  color: white;
  top: 42px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nav-link {
  transition: 0.3s ease-in;
  /* transform: scale(0); */
}
.seleted-nav-link {
  transition: 0.3s ease-in;
  transform: scale(0);
}
.nav-link:hover .seleted-nav-link{
  height: 2px;
  width: 100%;
  transform: scale(1.1);
  background: var(--tj-theme-primary);
  background: -o-linear-gradient(
    190deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
  background: linear-gradient(
    260deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
}

.custom-btn {
  padding: 15px 30px;
  color: white;
  background: var(--tj-theme-primary);
  background: -o-linear-gradient(
    190deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
  background: linear-gradient(
    260deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
}

.home-btn {
  color: white;
  background: var(--tj-theme-primary);
  background: -o-linear-gradient(
    190deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
  background: linear-gradient(
    260deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
}