.banner-background {
  background-image: linear-gradient(to right, #102039, #2a1454, #2a1454);
}
.banner-image {
  z-index: 1;
  border: 3px solid #2a1454;
  border-radius: 40px;
  rotate: 8deg;
  transition-duration: 0.5s;
}
.banner-image:hover {
  border: 3px solid #8750F7;
  animation-delay: 0.2s;
  animation-duration: .1;
  transform: rotate(-8deg);
}

.gradient-text {
  background-image: linear-gradient(to right, #8750F7, #fff);
  -webkit-background-clip: text;
  color: transparent;

}


.background-text {
  font-size: 16vw;
  /* font-family: "Rubik Doodle Shadow", system-ui; */
  -webkit-text-stroke: 0.3vh #8750F7;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-style: normal;
  z-index: 0;
  position: absolute;
  left: 38%;
  top: 30%;
  opacity: 0.3;
  /* color: blue; */
  animation-name: text-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes text-animation {
  0% {
    font-size: 19rem;
  }
  50% {
    font-size: 18rem;
  }
  100% {
    font-size: 19rem;
  }
}
